<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poka Yoke</title>
    <link rel="stylesheet" href="static/css/poka.css">
</head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="static/img/rojo.png" alt="Logo DASS">
            </div>
            <nav>
                <ul>
                    <li><a href="/">Início</a></li>
                    <li><a href="#courses">Cursos</a></li>
                    <li><a href="#flashcards">Flashcards</a></li>
                    <li><a href="#testimonials">Depoimentos</a></li>
                    <li><a href="/quiz">Quiz</a></li>
                    <li><a href="/sobre">Sobre Nós</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="home" class="hero">
        <div class="hero-content">
            <div class="hero-text-container">
                <h2>Poka Yoke</h2>
                <p>Descubra como evitar erros e garantir a qualidade com o método Poka Yoke.</p>
            </div>
        </div>
    </section>

    <section id="about" class="about">
        <div class="container">
            <h2>O que é Poka Yoke?</h2>
            <div class="about-content">
                <img src="static/img/pokayoke.png" alt="Poka Yoke">
                <p>Poka Yoke é uma técnica desenvolvida no Japão para prevenir erros e garantir a qualidade dos processos e produtos. O termo, que pode ser traduzido como "à prova de erros", refere-se a dispositivos e práticas que impedem a ocorrência de erros antes que eles aconteçam.</p>
                <p>Os sistemas Poka Yoke são projetados para detectar e corrigir erros antes que eles impactem o produto final. Isso é feito através da implementação de dispositivos ou métodos que alertam os operadores quando algo está fora do padrão ou impedem que erros sejam cometidos.</p>
                <p>Esse método é amplamente utilizado em ambientes de manufatura e serviços para melhorar a eficiência e a qualidade, garantindo que os processos sejam seguidos corretamente e que o produto final atenda aos padrões estabelecidos.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 DASS-Lean. Todos os direitos reservados.</p>
        </div>
    </footer>
</body>
</html>
