@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

/* Reset básico */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-bar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 45px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    top: 35px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    font-size: 1.15rem;
}

.nav-item a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
}

.nav-link {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.15rem;
    color: #000000;

}

nav ul {
    font-weight: bold;
    right: 5%;
    position: fixed; 
    justify-content: right;
    top: 30px;  /* Distância do topo da janela */
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}


nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.15rem;
    transition: border-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
    border-bottom-color: #007bff;
}

nav ul li.submenu {
    position: relative;
    z-index: 9999; /* Muito acima de outros elementos */
}

nav ul li.submenu ul {
    right: 0;
    z-index: 9999; /* Garante que o submenu fique acima */
    display: none; /* Esconde o submenu por padrão */
    position: absolute;
    top: 100%;
    background: #ffffff; /* Cor de fundo do submenu */
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
}

nav ul li.submenu ul li {
    margin: 0;
    padding: 0;
    /* Remova display: none; */
}

nav ul li.submenu ul li a {
    padding: 10px;
    margin: 0;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: background 0.1s ease;
}

nav ul li.submenu:hover ul {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block; /* Exibe o submenu ao passar o mouse */
}

nav ul li.submenu ul li a:hover {
    color: white;
    background: #007bff;
}


.logo {
    display: flex;
    align-items: center;
    left: 5%;
    position: fixed; /* O elemento será posicionado em relação à janela do navegador */
    top: 15px;;  /* Distância do topo da janela */
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.logo img {
    width: 125px;
    height: auto;
}


.mobile-menu-icon {
    position: fixed; /* O elemento será posicionado em relação à janela do navegador */
    right: 5%;
    top: 10px;  /* Distância do topo da janela */
    width: 25px;
    height: auto;
    display: none;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.mobile-menu .sub-menu {
    text-decoration: none;
    color: #000000;
    display: none;
}

.menu a{
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.menu:hover {
    color: #007bff;
    border-bottom-color: #007bff;
}

.container {
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 80%;
}

.logo {
    display: flex;
    align-items: center;
    left: 5%;
    position: fixed; /* O elemento será posicionado em relação à janela do navegador */
    top: 15px;;  /* Distância do topo da janela */
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}
    
.logo a {
    height: 29px;
}

.logo img {
    width: 125px;
    height: auto;
}


.mobile-menu-icon {
    position: fixed; /* O elemento será posicionado em relação à janela do navegador */
    right: 5%;
    top: 10px;  /* Distância do topo da janela */
    width: 25px;
    height: auto;
    display: none;
}

.mobile-menu {
    display: none;
}

.mobile-menu .sub-menu {
    text-decoration: none;
    color: #000000;
    display: none;
}

section{
    padding-top: 80px;
    width: 80%;
    margin: 0 auto; /* Centraliza horizontalmente */
}

@media screen and (max-width: 730px) {
    .logo {
        display: flex;
        align-items: center;
        left: 5%;
        position: fixed; /* O elemento será posicionado em relação à janela do navegador */
        top: 5px;  /* Distância do topo da janela */
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    .logo img {
        width: 80px;
        height: auto;
    }

    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-list ul {
        display: none;
    }
    
    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .icon {
        width: 25px;
        height: auto;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        background: #fff;
        display: flex;
        flex-direction: column;
        text-align: left;

    }
    .mobile-menu .nav-item {
   
        display: block;
        padding: 1rem 0;
    
    }

    .open {
        display: block;
    }

    .mobile-menu .sub-menu.open {
        padding: 0;
        display: grid;
        margin-top: 10px;
        display: block;
    }

    .sub-menu ul {
        text-align: left;
        margin: 10px 10px;
    } 

    .sub-menu li {
        margin-left: 0;
        text-align: left;
        list-style-type: none; 
        padding: 8px 0;
    } 

    .sub-menu a {
        font-weight: 300;
        color: #000000;;
        padding: 10 0px;
        text-decoration: none;
    }
}



