/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Container centralizado */
.container {
    width: 80%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}

/* Cabeçalho */
header {
    z-index: 1000;
    padding: 15px 0;
    width: 100%;
    height: 90px;
    position:fixed; /* Manten o elemento fixado */
    background: linear-gradient(to right, #ffffff, #ffffff);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header .container {
    margin-bottom: 100px;
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    left: 5%;
    position: fixed; /* O elemento será posicionado em relação à janela do navegador */
    top: 15px;  /* Distância do topo da janela */
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

header .logo img {
    width: 125px;
    height: auto;
}

nav ul {
    right: 5%;
    position: fixed; 
    justify-content: right;
    top: 30px;  /* Distância do topo da janela */
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: border-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
    border-bottom-color: #007bff;
}

nav ul li.submenu {
    position: relative;
    z-index: 9999; /* Muito acima de outros elementos */
}

nav ul li.submenu ul {
    right: 0;
    z-index: 9999; /* Garante que o submenu fique acima */
    display: none; /* Esconde o submenu por padrão */
    position: absolute;
    top: 100%;
    background: #ffffff; /* Cor de fundo do submenu */
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
}

nav ul li.submenu ul li {
    margin: 0;
    padding: 0;
}

nav ul li.submenu ul li a {
    padding: 10px;
    margin: 0;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: background 0.1s ease;
}

nav ul li.submenu ul li a:hover {
    color: white;
    background: #007bff;
}

nav ul li.submenu:hover ul {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block; /* Exibe o submenu ao passar o mouse */
}

.menu a{
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.menu:hover {
    color: #007bff;
    border-bottom-color: #007bff;
}


/* Seção Hero */
.hero {
    background: url('../img/kanban.png.PNG') no-repeat center center/cover;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 100px 20px;
    height: 100vh;
    position: relative;
}

.hero-content {
    max-width: 600px;
    margin: 90px auto 0;
}

/* Novo container para o texto */
.hero-text-container {
    background: rgba(0, 0, 0, 0.6);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.hero-text-container h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero-text-container p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

/* Botão */
.btn {
    background: #ff5722;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn:hover {
    background: #e64a19;
    transform: scale(1.05);
}

/* Seções */
section {
    padding: 80px 0;
}

.kanban {
    background: linear-gradient(to bottom, #f5f5f5, #e0e0e0);
    color: #333;
}

.kanban h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.kanban p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.kanban ul {
    list-style: disc;
    padding-left: 20px;
}

.kanban ul li {
    margin-bottom: 10px;
}

.bloco_next {
    justify-content: space-between;
    align-items: center;
    display: flex ;
    height: 90px;
    width: 100%;
    background: #ededed;
    margin: 0 auto;
}

.btn_next {
    margin: 20px;
    display: inline-block;
    background: #007bff;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
    transition: background 0.3s ease, transform 0.3s ease;
}

.btn_next:hover {
    background: #0056b3;
    transform: scale(1.05);
}

footer {
    background: linear-gradient(to bottom, #333, #1a1a1a);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    font-size: 14px;
}
