@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

/* Reset básico */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

/* Cabeçalho */
header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


/* Corpo */
body {
    font-family: 'Arial', sans-serif;

    color: #333;
}

/* Container centralizado */
.container {
    margin: 0 auto; /* Centraliza horizontalmente */
    width: 80%;
}

.nav-bar {
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 45px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    top: 35px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item a {
    margin: 0 15px;
}


.nav-link {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.15rem;
    color: #000000;

}

nav ul {
    font-weight: bold;
    right: 5%;
    position: fixed; 
    justify-content: right;
    top: 30px;  /* Distância do topo da janela */
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}


nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.15rem;
    transition: border-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
    border-bottom-color: #007bff;
}

nav ul li.submenu {
    position: relative;
    z-index: 9999; /* Muito acima de outros elementos */
}

nav ul li.submenu ul {
    right: 0;
    z-index: 9999; /* Garante que o submenu fique acima */
    display: none; /* Esconde o submenu por padrão */
    position: absolute;
    top: 100%;
    background: #ffffff; /* Cor de fundo do submenu */
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
}

nav ul li.submenu ul li {
    margin: 0;
    padding: 0;
    /* Remova display: none; */
}

nav ul li.submenu ul li a {
    padding: 10px;
    margin: 0;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: background 0.1s ease;
}

nav ul li.submenu:hover ul {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block; /* Exibe o submenu ao passar o mouse */
}

nav ul li.submenu ul li a:hover {
    color: white;
    background: #007bff;
}

.logo {
    display: flex;
    align-items: center;
    left: 5%;
    position: fixed; /* O elemento será posicionado em relação à janela do navegador */
    top: 15px;;  /* Distância do topo da janela */
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.logo img {
    width: 125px;
    height: auto;
}


.mobile-menu-icon {
    position: fixed; /* O elemento será posicionado em relação à janela do navegador */
    right: 5%;
    top: 10px;  /* Distância do topo da janela */
    width: 25px;
    height: auto;
    display: none;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.mobile-menu .sub-menu {
    text-decoration: none;
    color: #000000;
    display: none;
}

.menu a{
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.menu:hover {
    color: #007bff;
    border-bottom-color: #007bff;
}



/* Seção do Quiz */
.container.quiz-section {
    width: 80%;
    border-radius: 20px;
    margin-top: 100px;
}

.quiz-section {
    padding: 60px 0 1px;
    background: #f4f4f4;
}

.quiz-section h2 {
    text-align: center;
    margin-bottom: 20px;
}

.quiz-section .question {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.quiz-section .question p {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.quiz-section .question label {
    display: block;
    margin-bottom: 10px;
}

.quiz-section .btn {
    align-items: center;
    margin: 10px;
    justify-content: center;
    display: flex;
    width: 200px;
    height: 50px;
    margin: 0 auto;
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 25px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.quiz-section .btn:hover {
    background: #0056b3;
}

li {
    text-align: center;
    float: left;
    list-style-type: none;
    padding: 10px;
}

label {
    border-radius: 25px;
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    color: #555; /* Cor do texto das opções */
}

/* Esconder o checkbox padrão */
input[type="radio"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
  }

  /* Estilo para o label que será o checkbox customizado */
  .custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    border-radius: 3px;
    position: relative;
    cursor: pointer;
  }

  /* Estilo quando o checkbox está marcado */
  input[type="radio"]:checked + .custom-checkbox {
    background-color: #4CAF50;
    border-color: #4CAF50;
  }

  /* Estilo para o ícone de verificação */
  .custom-checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
    border-radius: 2px;
  }

  /* Mostrar o ícone de verificação quando o checkbox está marcado */
  input[type="radio"]:checked + .custom-checkbox::after {
    transform: translate(-50%, -50%) scale(1);
  }
 /* Estilo para o label */
label {
    display: flex;
    align-items: center; /* Alinha verticalmente o texto e a caixa */
    cursor: pointer;
    font-size: 1em;
    border-radius: 25px;
    padding: 10px; /* Padding geral no label */
}

/* Estilo para a caixa customizada */
.custom-checkbox {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #f0f0f0;
    border: 2px solid #ddd;
    border-radius: 3px;
    position: relative;
    margin-right: 10px; /* Espaço entre a caixa e o texto */
    vertical-align: middle; /* Alinha verticalmente a caixa com o texto */
}

/* Adiciona um padding interno no label para garantir que o texto não fique colado à caixa */
label {
    padding-left: 30px; /* Ajuste este valor conforme necessário */
}

/* Estilo quando o checkbox está marcado*/
input[type="radio"]:checked + .custom-checkbox {
    background-color: #4CAF50;
    border-color: #4CAF50;
}

/* Estilo para o ícone de verificação */
.custom-checkbox::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    background-color: white;
    transform: translate(-50%, -50%) scale(0);
    transition: transform 0.2s ease;
    border-radius: 2px;
}

/* Mostrar o ícone de verificação quando o checkbox está marcado */
input[type="radio"]:checked + .custom-checkbox::after {
    transform: translate(-50%, -50%) scale(1);
}

/* Estilo para rótulos corretos e incorretos */
label.correct {
    background-color: #d4edda;
    border: 2px solid #c3e6cb;
    color: #155724;
}

label.incorrect {
    background-color: #f8d7da;
    border: 2px solid #f5c6cb;
    color: #721c24;
}

label.correct, label.incorrect {
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.correct span.custom-checkbox {
    background-color: #c3e6cb;
    border-color: #c3e6cb;
}

.incorrect span.custom-checkbox {
    background-color: #f5c6cb;
    border-color: #f5c6cb;
}

/* Estilo para os parágrafos como títulos */
.question p {
    font-size: 1.5em; /* Aumenta o tamanho da fonte */
    font-weight: bold; /* Define a fonte como negrito */
    margin-bottom: 20px; /* Espaçamento abaixo do parágrafo */
    color: #333; /* Cor do texto */
    text-align: left; /* Centraliza o texto */
    padding-bottom: 10px; /* Espaçamento interno abaixo do texto para a linha */
    border-radius: 5px; /* Cantos arredondados para a área de fundo */
    margin-left: 25px;
}

@media screen and (max-width: 730px) {
    
    .logo {
        display: flex;
        align-items: center;
        left: 5%;
        position: fixed; /* O elemento será posicionado em relação à janela do navegador */
        top: 5px;  /* Distância do topo da janela */
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    .logo img {
        width: 80px;
        height: auto;
    }

    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-list ul {
        display: none;
    }
    
    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .icon {
        width: 25px;
        height: auto;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        background: #fff;
        display: flex;
        flex-direction: column;
        text-align: left;

    }
    .mobile-menu .nav-item {
        display: block;
        padding: 1rem 0;
    }

    .open {
        display: block;
    }

    .mobile-menu .sub-menu.open {
        padding: 0;
        display: grid;
        margin-top: 10px;
        display: block;
    }

    .sub-menu ul {
        text-align: left;
        margin: 10px 10px;
    } 

    .sub-menu li {
        margin-left: 0;
        text-align: left;
        list-style-type: none; 
        padding: 8px 0;
    } 

    .sub-menu a {
        color: #000000;;
        padding: 10 0px;
        text-decoration: none;
    }

}