@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500&display=swap');

/* Reset básico */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

header {
    z-index: 1000;
    position: fixed;
    width: 100%;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.logo {
    display: flex;
    align-items: center;
    left: 5%;
    position: fixed; /* O elemento será posicionado em relação à janela do navegador */
    top: 15px;;  /* Distância do topo da janela */
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.logo img {
    width: 125px;
    height: auto;
}

.nav-bar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    padding: 45px;
}

.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    top: 35px;
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    font-size: 1.15rem;
}

.nav-item a {
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    text-decoration: none;
    margin: 0 15px;
}

.nav-link {
    font-weight: bold;
    text-decoration: none;
    font-size: 1.15rem;
    color: #000000;

}

nav ul {
    font-weight: bold;
    right: 5%;
    position: fixed; 
    justify-content: right;
    top: 30px;  /* Distância do topo da janela */
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}


nav ul li a {
    color: #333;
    text-decoration: none;
    font-size: 1.15rem;
    transition: border-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
    border-bottom-color: #007bff;
}

nav ul li.submenu {
    position: relative;
    z-index: 9999; /* Muito acima de outros elementos */
}

nav ul li.submenu ul {
    right: 0;
    z-index: 9999; /* Garante que o submenu fique acima */
    display: none; /* Esconde o submenu por padrão */
    position: absolute;
    top: 100%;
    background: #ffffff; /* Cor de fundo do submenu */
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
}

nav ul li.submenu ul li {
    margin: 0;
    padding: 0;
    /* Remova display: none; */
}

nav ul li.submenu ul li a {
    padding: 10px;
    margin: 0;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: background 0.1s ease;
}

nav ul li.submenu:hover ul {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block; /* Exibe o submenu ao passar o mouse */
}

nav ul li.submenu ul li a:hover {
    color: white;
    background: #007bff;
}

.mobile-menu-icon {
    position: fixed; /* O elemento será posicionado em relação à janela do navegador */
    right: 5%;
    top: 10px;  /* Distância do topo da janela */
    width: 25px;
    height: auto;
    display: none;
}

.mobile-menu-icon {
    display: none;
}

.mobile-menu {
    display: none;
}

.mobile-menu .sub-menu {
    text-decoration: none;
    color: #000000;
    display: none;
}

.menu a{
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.menu:hover {
    color: #007bff;
    border-bottom-color: #007bff;
}

.btn {
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}
.btn:hover {
    background: #0056b3;
}
/* Seções */
section {
    margin: auto;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 100vh; 
    width: 90%;
    padding: 60px 0;
}

.section-title {
    text-align: left;
    margin: 60px 0 40px;
    margin: 60px 0 40px 30px;
    font-size: 25px;
}

.section-title-h2 {
    padding-top: 70px;
    text-align: center;
    font-size: 40px;
}

.about {
    display: flex;
    border-radius: 20px;
    background: #f4f4f4;
    padding: 20px;
    margin: 0px 30px 60px; /* Espaço entre os blocos */
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    transition: background 0.3s ease, transform 0.3s ease;
}

.about:hover {
    background: #ebf3ff; /* Muda a cor de fundo */
    background: #e2edff; /* Muda a cor de fundo */
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
    transform: scale(1.03); /* Aumenta levemente o tamanho */
}
.about-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-content img {
    width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 50%;
    object-fit: cover;
}
.about-content div {
    flex: 1;
}

.div-blocos {
    display: flex;
    align-items: center; /* Centraliza os itens dentro da div verticalmente */
    justify-content: center; /* Centraliza os itens dentro da div horizontalmente */
    width: 80%;
    margin: 60px auto; /* Centraliza a div horizontalmente */
}

.div-bloco1 {
    height: 6px;
    height: 8px;
    width: 30%;
    background: linear-gradient(to right, #ffd04f, #ff9340);
    margin: 0;
}

.div-bloco2 {
    height: 6px;
    height: 8px;
    width: 30%;
    background: linear-gradient(to right, #a44fff, #4079ff);
    margin: 0;
}
.div-bloco1, .div-bloco2 {
    flex: 1; /* As divs vão compartilhar o espaço disponível igualmente */
    margin: 0 ; 
}



@media (max-width: 768px) {

    .logo {
        display: flex;
        align-items: center;
        left: 5%;
        position: fixed; /* O elemento será posicionado em relação à janela do navegador */
        top: 5px;  /* Distância do topo da janela */
        background-color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
    }
    
    .logo a {
        height: 29px;
    }

    .logo img {
        width: 80px;
        height: auto;
    }

    .nav-bar {
        padding: 1.5rem 4rem;
    }
    .nav-list ul {
        display: none;
    }
    
    .nav-item {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .icon {
        width: 25px;
        height: auto;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
    .mobile-menu ul {
        background: #fff;
        display: flex;
        flex-direction: column;
        text-align: left;

    }
    .mobile-menu .nav-item {
        display: block;
        padding: 1rem 0;
    
    }

    .open {
        display: block;
    }

    .mobile-menu .sub-menu.open {
        padding: 0;
        display: grid;
        margin-top: 10px;
        display: block;
    }

    .sub-menu ul {
        text-align: left;
        margin: 10px 10px;
    } 

    .sub-menu li {
        margin-left: 0;
        text-align: left;
        list-style-type: none; 
        padding: 8px 0;
    } 

    .sub-menu a {
        font-weight: 300;
        color: #000000;;
        padding: 10 0px;
        text-decoration: none;
    }

    /* Títulos das seções */
    .section-title {
        text-align: center;
        width: 90%;
        margin: 60px auto;
        font-size: 1.6em;
    }

    .section-title-h2 {
        padding-top: 40px;
        text-align: center;
        font-size: 2em;
    }

    .about {
        display: flex;
        flex-direction: column; /* Organiza os itens em uma coluna */
        align-items: center; /* Centraliza o conteúdo horizontalmente */
    }
    
    .about-content img {
        width: 80%; /* Ajuste o tamanho da imagem conforme necessário */
        height: auto; /* Ajuste o tamanho da imagem conforme necessário */
        border-radius: 50%;
        object-fit: cover;
    }

    .about h3{
        margin-bottom: 20px;
    }

    .about-content {
        margin: 0 30px;
        text-align: center;
        flex-direction: column; /* Alinha a imagem acima do texto */
        align-items: center; /* Centraliza o texto e a imagem */
        gap: 25px; /* Espaço entre a imagem e o texto */
    }

}