/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
}

/* Container centralizado */
.container {
    width: 80%;
    margin: auto;
    border-radius: 20px;
    overflow: hidden;
}

/* Cabeçalho */
header {
    z-index: 1000;
    padding: 15px 0;
    width: 100%;
    height: 90px;
    position:fixed; /* Manten o elemento fixado */
    background: linear-gradient(to right, #ffffff, #ffffff);
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

header .container {
    margin-bottom: 100px;
    height: 100px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    left: 5%;
    position: fixed; /* O elemento será posicionado em relação à janela do navegador */
    top: 15px;  /* Distância do topo da janela */
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

header .logo img {
    width: 125px;
    height: auto;
}

nav ul {
    right: 5%;
    position: fixed; 
    justify-content: right;
    top: 30px;  /* Distância do topo da janela */
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    transition: border-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover {
    color: #007bff;
    border-bottom-color: #007bff;
}

nav ul li.submenu {
    position: relative;
    z-index: 9999; /* Muito acima de outros elementos */
}

nav ul li.submenu ul {
    right: 0;
    z-index: 9999; /* Garante que o submenu fique acima */
    display: none; /* Esconde o submenu por padrão */
    position: absolute;
    top: 100%;
    background: #ffffff; /* Cor de fundo do submenu */
    padding: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    list-style: none;
}

nav ul li.submenu ul li {
    margin: 0;
    padding: 0;
}

nav ul li.submenu ul li a {
    padding: 10px;
    margin: 0;
    color: #000;
    text-decoration: none;
    font-size: 14px;
    display: block;
    transition: background 0.1s ease;
}

nav ul li.submenu ul li a:hover {
    color: white;
    background: #007bff;
}

nav ul li.submenu:hover ul {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: block; /* Exibe o submenu ao passar o mouse */
}

.menu a{
    border-bottom: 2px solid transparent;
    transition: border-color 0.3s ease, color 0.3s ease;
}

.menu:hover {
    color: #007bff;
    border-bottom-color: #007bff;
}

/* Seção Hero */
.hero {
    background: url('imagens/d') no-repeat center center/cover;
    color: #fff;
    text-align: center;
    padding: 100px 0;
}

.hero-content {
    max-width: 600px;
    margin: 0 auto;
}

.hero-content h2 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.btn {
    background: #007BFF;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.btn:hover {
    background: #0056b3;
}

/* Seções */
section {
    padding: 60px 0;
}

.about {
    border-radius: 20px;
    background: #f4f4f4;
    padding: 20px;
    margin: 30px; /* Espaço entre os blocos */
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.2); /* Adiciona sombra */
    transition: background 0.3s ease, transform 0.3s ease;
}

.about:hover {
    background: #ebf3ff; /* Muda a cor de fundo */
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.3); /* Adiciona sombra */
    transform: scale(1.03); /* Aumenta levemente o tamanho */
}

.about-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-content img {
    width: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    height: 150px; /* Ajuste o tamanho da imagem conforme necessário */
    border-radius: 50%;
    object-fit: cover;
}

.about-content div {
    flex: 1;
}


@media (min-width: 768px) {
    .about {
        margin: 30px; /* Espaçamento entre os blocos em telas maiores */
    }
}

/* Títulos das seções */
.section-title {
    text-align: left;
    margin: 60px 0 40px;
    font-size: 25px;
}

.section-title-h2 {
    padding-top: 70px;
    text-align: center;
    font-size: 40px;
}

.div-blocos {
    display: flex;
    margin: 60px 0;
}

.div-bloco1 {
    height: 6px;
    width: 30%;
    background: linear-gradient(to right, #ffd04f, #ff9340);
    margin: 0 auto;
}

.div-bloco2 {
    height: 6px;
    width: 30%;
    background: linear-gradient(to right, #a44fff, #4079ff);
    margin: 0 auto;
}

.div-bloco1, .div-bloco2 {
    flex: 1; /* As divs vão compartilhar o espaço disponível igualmente */
    margin: 0; 
}