<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Documentos - DASS-Lean</title>
    <link rel="stylesheet" href="static/css/documentos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swiper/8.4.5/swiper-bundle.min.css">
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="/"><img src="static/img/rojo.png" alt="Logo DASS"></a>
            </div>
            <div class="nav-list">
                <nav>
                    <ul>
                        <li class="menu"><a href="/">Início</a></li>
                        <li class="submenu"><a href="/#courses">Temas</a>
                            <ul>
                                <li><a href="/gestao">Gestão Visual</a></li>
                                <li><a href="/poka">Poka Yoke</a></li>
                                <li><a href="/kanban">Kanban</a></li>
                                <li><a href="/local">Local Autoexplicativo</a></li>
                            </ul>
                        </li>
                        <li class="menu"><a href="/quiz">Quiz</a></li>
                        <li class="menu"><a href="/sobre">Sobre Nós</a></li>
                        <li class="menu"><a href="/documentos">Documentos</a></li>
                    </ul>
                </nav>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="static/img/menu_black.png" alt=""></button>
            </div>
        </nav>

            <div class="mobile-menu">
                <ul>
                    <li class="nav-item"><a href="/">Início</a></li>
                    <!-- Lista de Temas com sublista ocultável -->
                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="toggleSubMenu(event)">Temas</a>
                        <ul class="sub-menu">
                            <li><a href="/gestao">Gestão Visual</a></li>
                            <li><a href="/poka">Poka Yoke</a></li>
                            <li><a href="/kanban">Kanban</a></li>
                            <li><a href="/local">Local Autoexplicativo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="/quiz">Quiz</a></li>
                    <li class="nav-item"><a href="/sobre">Sobre Nós</a></li>
                    <li class="nav-item"><a href="/documentos">Documentos</a></li>
                </ul>
            </div>
    </header>
    <section id="about" class="about">
        <div class="hero">
            <img src="static/img/600400.png">
            <h2>CSS</h2>
            <div class="about-content">
                <p>A Gestão Visual é uma abordagem que utiliza elementos visuais, como gráficos, sinalizações e indicadores, para facilitar a comunicação e a compreensão das informações dentro de uma organização. O objetivo é tornar os processos, problemas e métricas mais evidentes para todos os membros da equipe, melhorando a eficiência e a tomada de decisões.</p>
            </div>
        </div>
    </section>

    <section id="about" class="about">
        <div class="hero">
            <img src="static/img/600400.png">
            <h2>JavaScript</h2>
            <div class="about-content">
                <p>A Gestão Visual é uma abordagem que utiliza elementos visuais, como gráficos, sinalizações e indicadores, para facilitar a comunicação e a compreensão das informações dentro de uma organização. O objetivo é tornar os processos, problemas e métricas mais evidentes para todos os membros da equipe, melhorando a eficiência e a tomada de decisões.</p>
            </div>
        </div>
    </section>

    <section id="about" class="about">
        <div class="hero">
            <img src="static/img/600400.png">
            <h2>HTML</h2>
            <div class="about-content">
                <p>A Gestão Visual é uma abordagem que utiliza elementos visuais, como gráficos, sinalizações e indicadores, para facilitar a comunicação e a compreensão das informações dentro de uma organização. O objetivo é tornar os processos, problemas e métricas mais evidentes para todos os membros da equipe, melhorando a eficiência e a tomada de decisões.</p>
            </div>
        </div>
    </section>

    <section id="about" class="about">
        <div class="hero">
            <img src="static/img/600400.png">
            <h2>PYTHON</h2>
            <div class="about-content">
                <p>A Gestão Visual é uma abordagem que utiliza elementos visuais, como gráficos, sinalizações e indicadores, para facilitar a comunicação e a compreensão das informações dentro de uma organização. O objetivo é tornar os processos, problemas e métricas mais evidentes para todos os membros da equipe, melhorando a eficiência e a tomada de decisões.</p>
            </div>
        </div>
    </section>

    <footer>
        <div class="hero">
            <p>&copy; 2024 DASS-Lean. Todos os direitos reservados.</p>
        </div>
    </footer>


    <script src="static/js/barra_menu.js"></script>
</body>
</html>
