<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dass-lean</title>
    <link rel="stylesheet" href="static/css/text.css">
    <link rel="stylesheet" href="static/css/flash.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swiper/8.4.5/swiper-bundle.min.css">
</head>
<body>

    <header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="container">
            <div class="logo">
                <a href="/"><img src="static/img/rojo.png" alt="Logo DASS"></a>
            </div>
            <nav>
                <ul>
                    <li class="menu"><a href="/">Início</a></li>
                    <li class="submenu"><a href="/#courses">Temas</a>
                        <ul>
                            <li><a href="/gestao">Gestão Visual</a></li>
                            <li><a href="/poka">Poka Yoke</a></li>
                            <li><a href="/kanban">Kanban</a></li>
                            <li><a href="/local">Local Autoexplicativo</a></li>
                        </ul>
                    </li>
                    <li class="menu"><a href="/quiz">Quiz</a></li>
                    <li class="menu"><a href="/sobre">Sobre Nós</a></li>
                    <li class="menu"><a href="/documentos">Documentos</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <section id="home" class="hero">
        <div class="hero-content">
            <div class="hero-text-container">
                <h2>Descubra como otimizar a sua produção</h2>
                <p>Evitando desperdícios e fazendo melhorias contínuas.</p>
                <a href="sobre" class="btn">Venha conhecer mais sobre nós</a>
            </div>
        </div>
    </section>

    <section id="courses" class="courses">
        <div class="container">
            <h2>Temas: </h2><br>
            <div class="course-list">
                <div class="course">
                    <img src="static/img/gestao.jpg" alt="Curso de Inglês">
                    <h3>Gestão visual</h3>
                    <p>Entenda a importância da gestão visual para um controle efetivo de processos e projetos.</p><br>
                    <a href="gestao" class="btn">Saiba Mais</a>
                </div>
                <div class="course">
                    <img src="static/img/poka.jfif" alt="Curso de Espanhol">
                    <h3>Poka Yoke</h3>
                    <p>Domine o espanhol com aulas interativas e recursos de alta qualidade.</p><br>
                    <a href="poka" class="btn">Saiba Mais</a>
                </div>
                <div class="course">
                    <img src="static/img/kanban.jpg" alt="Kanban">
                    <h3>Kanban</h3>
                    <p>Aprenda francês com um método inovador e professores nativos.</p><br>
                    <a href="kanban" class="btn">Saiba Mais</a>
                </div>
                <div class="course">
                    <img src="static/img/Um local de trabalho autoexplicativo.png.PNG" alt="Curso de Francês">
                    <h3>Um local de trabalho autoexplicativo</h3>
                    <p>Aprenda francês com um método inovador e professores nativos.</p><br>
                    <a href="local" class="btn">Saiba Mais</a>
                </div>
                <!-- Adicione mais cursos conforme necessário -->
            </div>
        </div>
    </section>

    <footer>
        <div class="container">
            <p>&copy; 2024 SoftKira. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/swiper/8.4.5/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            loop: true,
        });
    </script>
    <script src="static/js/flash.js"></script>

</body>
</html>
