<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Local de Trabalho Autoexplicativo - DASS-Lean</title>
    <link rel="stylesheet" href="static/css/local.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swiper/8.4.5/swiper-bundle.min.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="/"><img src="static/img/Rojo.png" alt="Logo DASS"></a>
            </div>
            <div class="nav-list">
                <nav>
                    <ul>
                        <li class="menu"><a href="/">Início</a></li>
                        <li class="submenu"><a href="/#courses">Temas</a>
                            <ul>
                                <li><a href="/gestao">Gestão Visual</a></li>
                                <li><a href="/poka">Poka Yoke</a></li>
                                <li><a href="/kanban">Kanban</a></li>
                                <li><a href="/local">Local Autoexplicativo</a></li>
                            </ul>
                        </li>
                        <li class="menu"><a href="/quiz">Quiz</a></li>
                        <li class="menu"><a href="/sobre">Sobre Nós</a></li>
                        <li class="menu"><a href="/documentos">Documentos</a></li>
                    </ul>
                </nav>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="static/img/menu_black.png" alt=""></button>
            </div>
        </nav>

            <div class="mobile-menu">
                <ul>
                    <li class="nav-item"><a href="/">Início</a></li>
                    <!-- Lista de Temas com sublista ocultável -->
                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="toggleSubMenu(event)">Temas</a>
                        <ul class="sub-menu">
                            <li><a href="/gestao">Gestão Visual</a></li>
                            <li><a href="/poka">Poka Yoke</a></li>
                            <li><a href="/kanban">Kanban</a></li>
                            <li><a href="/local">Local Autoexplicativo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="/quiz">Quiz</a></li>
                    <li class="nav-item"><a href="/sobre">Sobre Nós</a></li>
                    <li class="nav-item"><a href="/documentos">Documentos</a></li>
                </ul>
            </div>
    </header>

    <section id="home" class="hero">
        <div class="hero-content">
            <div class="hero-text-container">
                <h2>Local de Trabalho Autoexplicativo</h2>
                <p>Descubra como criar um ambiente de trabalho que se explica por si mesmo.</p>
            </div>
        </div>
    </section>

    <section id="about" class="about">
        <div class="container">
            <h2>O que é um Local de Trabalho Autoexplicativo?</h2>
            <div class="about-content">
                <p>Um local de trabalho autoexplicativo é um ambiente onde a organização e os processos são projetados para serem intuitivos e facilmente compreensíveis por todos os colaboradores. O objetivo é tornar o trabalho mais eficiente, reduzir erros e facilitar a comunicação.</p>
            <h3>Principais Características:</h3>
            <ul>
                <li><strong>Sinalização Clara:</strong> Utilização de sinais visuais e etiquetas para facilitar a identificação e o uso dos recursos.</li>
                <li><strong>Layout Organizado:</strong> Distribuição lógica e ordenada dos recursos e ferramentas para minimizar deslocamentos e buscar eficiência.</li>
                <li><strong>Documentação Visível:</strong> Instruções e procedimentos documentados de forma acessível para garantir que todos saibam como realizar suas tarefas.</li>
                <li><strong>Padronização:</strong> Processos e práticas padronizados que ajudam a manter a consistência e a reduzir variabilidade.</li>
                <li><strong>Feedback Imediato:</strong> Sistemas que oferecem retorno instantâneo sobre o desempenho e a conformidade com os padrões estabelecidos.</li>
            </ul>
            <p>Um local de trabalho autoexplicativo promove uma cultura de auto-suficiência e responsabilidade, ajudando a equipe a alcançar um alto nível de desempenho e qualidade.</p>
            </div>
        </div>
    </section>

    <div class="bloco_next">
        <a class="btn_next" href="/kanban">Tema<br> Anterior</a>
        <a class="btn_next" href="/gestao">Próximo<br> Tema</a></div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 DASS-Lean. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="static/js/barra_menu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swiper/8.4.5/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            loop: true,
        });
    </script>

</body>
</html>
