<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Poka Yoke</title>
    <link rel="stylesheet" href="static/css/poka.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swiper/8.4.5/swiper-bundle.min.css">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="/"><img src="static/img/Rojo.png" alt="Logo DASS"></a>
            </div>
            <div class="nav-list">
                <nav>
                    <ul>
                        <li class="menu"><a href="/">Início</a></li>
                        <li class="submenu"><a href="/#courses">Temas</a>
                            <ul>
                                <li><a href="/gestao">Gestão Visual</a></li>
                                <li><a href="/poka">Poka Yoke</a></li>
                                <li><a href="/kanban">Kanban</a></li>
                                <li><a href="/local">Local Autoexplicativo</a></li>
                            </ul>
                        </li>
                        <li class="menu"><a href="/quiz">Quiz</a></li>
                        <li class="menu"><a href="/sobre">Sobre Nós</a></li>
                        <li class="menu"><a href="/documentos">Documentos</a></li>
                    </ul>
                </nav>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="static/img/menu_black.png" alt=""></button>
            </div>
        </nav>

            <div class="mobile-menu">
                <ul>
                    <li class="nav-item"><a href="/">Início</a></li>
                    <!-- Lista de Temas com sublista ocultável -->
                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="toggleSubMenu(event)">Temas</a>
                        <ul class="sub-menu">
                            <li><a href="/gestao">Gestão Visual</a></li>
                            <li><a href="/poka">Poka Yoke</a></li>
                            <li><a href="/kanban">Kanban</a></li>
                            <li><a href="/local">Local Autoexplicativo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="/quiz">Quiz</a></li>
                    <li class="nav-item"><a href="/sobre">Sobre Nós</a></li>
                    <li class="nav-item"><a href="/documentos">Documentos</a></li>
                </ul>
            </div>
    </header>

    <section id="home" class="hero">
        <div class="hero-content">
            <div class="hero-text-container">
                <h2>Poka Yoke</h2>
                <p>Descubra como evitar erros e garantir a qualidade com o método Poka Yoke.</p>
            </div>
        </div>
    </section>

    <section id="about" class="about">
        <div class="container">
            <h2>O que é Poka Yoke?</h2>
            <div class="about-content">
                <img src="static/img/pokayoke.png" alt="Poka Yoke">
                <p>Poka Yoke é uma técnica desenvolvida no Japão para prevenir erros e garantir a qualidade dos processos e produtos. O termo, que pode ser traduzido como "à prova de erros", refere-se a dispositivos e práticas que impedem a ocorrência de erros antes que eles aconteçam.</p>
                <p>Os sistemas Poka Yoke são projetados para detectar e corrigir erros antes que eles impactem o produto final. Isso é feito através da implementação de dispositivos ou métodos que alertam os operadores quando algo está fora do padrão ou impedem que erros sejam cometidos.</p>
                <p>Esse método é amplamente utilizado em ambientes de manufatura e serviços para melhorar a eficiência e a qualidade, garantindo que os processos sejam seguidos corretamente e que o produto final atenda aos padrões estabelecidos.</p>
            </div>
        </div>
    </section>

    <div class="bloco_next">
        <a class="btn_next" href="/local">Tema<br> Anterior</a>
        <a class="btn_next" href="/poka">Próximo<br> Tema</a></div>
    </div>

    <footer>
        <div class="container">
            <p>&copy; 2024 DASS-Lean. Todos os direitos reservados.</p>
        </div>
    </footer>

    <script src="static/js/barra_menu.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/swiper/8.4.5/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper('.swiper-container', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            loop: true,
        });
    </script>

</body>
</html>
