<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz de 10 Perguntas</title>
    <link rel="stylesheet" href="static/css/quiz.css">
    <link rel="stylesheet" href="static/css/flash.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swiper/8.4.5/swiper-bundle.min.css">
</head>

<body style="background: url('static/img/fundo.jpg')">
    <header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <div class="container">
            <div class="logo">
                <a href="/"><img src="static/img/rojo.png" alt="Logo DASS"></a>
            </div>
            <nav>
                <ul>
                    <li class="menu"><a href="/">Início</a></li>
                    <li class="submenu"><a href="/#courses">Temas</a>
                        <ul>
                            <li><a href="/gestao">Gestão Visual</a></li>
                            <li><a href="/poka">Poka Yoke</a></li>
                            <li><a href="/kanban">Kanban</a></li>
                            <li><a href="/local">Local Autoexplicativo</a></li>
                        </ul>
                    </li>
                    <li class="menu"><a href="/quiz">Quiz</a></li>
                    <li class="menu"><a href="/sobre">Sobre Nós</a></li>
                </ul>
            </nav>
        </div>
    </header>


    <section class="container quiz-section">
        <form id="quiz-form-1" class="quiz-form">
            <div class="question">
                <img style="display: block; margin:auto" src="static/img/600400.png">
                <p>1) Qual a Capital do Brasil?</p><br>
                <label for="quiz-form-1-radio1"><input id="quiz-form-1-radio1"type="radio" name="q1" value="a"><span class="custom-checkbox"></span> A) #</label><br>
                <label for="quiz-form-1-radio2"><input id="quiz-form-1-radio2" type="radio" name="q1" value="b"><span class="custom-checkbox"></span> B) #</label><br>
                <label for="quiz-form-1-radio3"><input id="quiz-form-1-radio3" type="radio" name="q1" value="c"><span class="custom-checkbox"></span> C) #</label><br>
                <label for="quiz-form-1-radio4"><input id="quiz-form-1-radio4" type="radio" name="q1" value="d"><span class="custom-checkbox"></span> D) #</label>
            </div>
            <button type="submit" class="btn">Responder</button>
            <br>
        </form>
    </section>

    <section class="container quiz-section">
        <form id="quiz-form-2" class="quiz-form">
            <div class="question">
                <img style="display: block; margin:auto" src="static/img/600400.png">
                
                <p>2) Qual a Capital do Brasil?</p><br>

                <label for="quiz-form-2-radio1"><input id="quiz-form-2-radio1" type="radio" name="q2" value="a"><span class="custom-checkbox"></span> A) São Paulo</label><br>
                <label for="quiz-form-2-radio2"><input id="quiz-form-2-radio2" type="radio" name="q2" value="b"><span class="custom-checkbox"></span> B) Rio de Janeiro</label><br>
                <label for="quiz-form-2-radio3"><input id="quiz-form-2-radio3" type="radio" name="q2" value="c"><span class="custom-checkbox"></span> C) Brasília</label><br>
                <label for="quiz-form-2-radio4"><input id="quiz-form-2-radio4" type="radio" name="q2" value="d"><span class="custom-checkbox"></span> D) Salvador</label>
            </div>
            <button type="submit" class="btn">Responder</button>
            <br>
        </form>
    </section>

    <section class="container quiz-section">
        <form id="quiz-form-3" class="quiz-form">
            <div class="question">
                <img style="display: block; margin:auto" src="static/img/600400.png">

                <p>3) Qual a Capital do Brasil?</p><br>

                <label for="quiz-form-3-radio1"><input id="quiz-form-3-radio1" type="radio" name="q3" value="a"><span class="custom-checkbox"></span> A) São Paulo</label><br>
                <label for="quiz-form-3-radio2"><input id="quiz-form-3-radio2" type="radio" name="q3" value="b"><span class="custom-checkbox"></span> B) Rio de Janeiro</label><br>
                <label for="quiz-form-3-radio3"><input id="quiz-form-3-radio3" type="radio" name="q3" value="c"><span class="custom-checkbox"></span> C) Brasília</label><br>
                <label for="quiz-form-3-radio4"><input id="quiz-form-3-radio4" type="radio" name="q3" value="d"><span class="custom-checkbox"></span> D) Salvador</label>
            </div>
            <button type="submit" class="btn">Responder</button>
            <br>
        </form>
    </section>

    <section class="container quiz-section">
        <form id="quiz-form-4" class="quiz-form">
            <div class="question">
                <img style="display: block; margin:auto" src="static/img/600400.png">
                <p>4) Qual a Capital do Brasil?</p><br>
                <label for="quiz-form-4-radio1"><input id="quiz-form-4-radio1" type="radio" name="q4" value="a"><span class="custom-checkbox"></span> A) São Paulo</label><br>
                <label for="quiz-form-4-radio2"><input id="quiz-form-4-radio2" type="radio" name="q4" value="b"><span class="custom-checkbox"></span> B) Rio de Janeiro</label><br>
                <label for="quiz-form-4-radio3"><input id="quiz-form-4-radio3" type="radio" name="q4" value="c"><span class="custom-checkbox"></span> C) Brasília</label><br>
                <label for="quiz-form-4-radio4"><input id="quiz-form-4-radio4" type="radio" name="q4" value="d"><span class="custom-checkbox"></span> D) Salvador</label>
            </div>
            <button type="submit" class="btn">Responder</button>
            <br>
        </form>
    </section>
        
    <section class="container quiz-section">
        <form id="quiz-form-5" class="quiz-form">
            <div class="question">
                <img style="display: block; margin:auto" src="static/img/600400.png">
                <p>5) Qual a Capital do Brasil?</p><br>
                <label for="quiz-form-5-radio1"><input id="quiz-form-5-radio1" type="radio" name="q5" value="a"><span class="custom-checkbox"></span> A) São Paulo</label><br>
                <label for="quiz-form-5-radio2"><input id="quiz-form-5-radio2" type="radio" name="q5" value="b"><span class="custom-checkbox"></span> B) Rio de Janeiro</label><br>
                <label for="quiz-form-5-radio3"><input id="quiz-form-5-radio3" type="radio" name="q5" value="c"><span class="custom-checkbox"></span> C) Brasília</label><br>
                <label for="quiz-form-5-radio4"><input id="quiz-form-5-radio4" type="radio" name="q5" value="d"><span class="custom-checkbox"></span> D) Salvador</label>
            </div>
            <button type="submit" class="btn">Responder</button>
            <br>
        </form>
    </section>

    <script src="static/js/functions.js"></script>
    <script src="static/js/flash.js"></script>
</body>
</html>
