<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz de 10 Perguntas</title>
    <link rel="stylesheet" href="static/css/quiz.css">
    <link rel="stylesheet" href="static/css/flash.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swiper/8.4.5/swiper-bundle.min.css">
</head>

<body style="background: url('static/img/fundo.jpg')">
    <header>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">
                            {{ message }}
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        
        <nav class="nav-bar">
            <div class="logo">
                <a href="/"><img src="static/img/rojo.png" alt="Logo DASS"></a>
            </div>
            <div class="nav-list">
                <nav>
                    <ul>
                        <li class="menu"><a href="/">Início</a></li>
                        <li class="submenu"><a href="/#courses">Temas</a>
                            <ul>
                                <li><a href="/gestao">Gestão Visual</a></li>
                                <li><a href="/poka">Poka Yoke</a></li>
                                <li><a href="/kanban">Kanban</a></li>
                                <li><a href="/local">Local Autoexplicativo</a></li>
                            </ul>
                        </li>
                        <li class="menu"><a href="/quiz">Quiz</a></li>
                        <li class="menu"><a href="/sobre">Sobre Nós</a></li>
                        <li class="menu"><a href="/documentos">Documentos</a></li>
                    </ul>
                </nav>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="static/img/menu_black.png" alt=""></button>
            </div>
        </nav>

            <div class="mobile-menu">
                <ul>
                    <li class="nav-item"><a href="/">Início</a></li>
                    <!-- Lista de Temas com sublista ocultável -->
                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="toggleSubMenu(event)">Temas</a>
                        <ul class="sub-menu">
                            <li><a href="/gestao">Gestão Visual</a></li>
                            <li><a href="/poka">Poka Yoke</a></li>
                            <li><a href="/kanban">Kanban</a></li>
                            <li><a href="/local">Local Autoexplicativo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="/quiz">Quiz</a></li>
                    <li class="nav-item"><a href="/sobre">Sobre Nós</a></li>
                    <li class="nav-item"><a href="/documentos">Documentos</a></li>
                </ul>
            </div>
    </header>


    <section class="container quiz-section">
        <form id="quiz-form-1" class="quiz-form">
            <div class="question">
                <img class="quizphotos" src="static/img/600400.png">
                <p>1) O que é o princípio básico do Lean?</p>
                <label for="quiz-form-1-radio1"><input id="quiz-form-1-radio1"type="radio" name="q1" value="a"><span class="custom-checkbox"></span> A)Minimizar a quantidade de trabalho em progresso (WIP).</label>
                <label for="quiz-form-1-radio2"><input id="quiz-form-1-radio2" type="radio" name="q1" value="b"><span class="custom-checkbox"></span> B) Reduzir desperdícios e aumentar valor para o cliente.</label>
                <label for="quiz-form-1-radio3"><input id="quiz-form-1-radio3" type="radio" name="q1" value="c"><span class="custom-checkbox"></span> C)  Aumentar o número de produtos em estoque.</label>
                <label for="quiz-form-1-radio4"><input id="quiz-form-1-radio4" type="radio" name="q1" value="d"><span class="custom-checkbox"></span> D)  Criar processos complexos para maximizar a produção.</label>
            </div>
            <button type="submit" class="btn">Responder</button>
            <br>
        </form>
    </section>

    <section class="container quiz-section">
        <form id="quiz-form-2" class="quiz-form">
            <div class="question">
                <img class="quizphotos" src="static/img/600400.png">
                
                <p>2) Qual é o principal objetivo do sistema Kanban?</p>

                <label for="quiz-form-2-radio1"><input id="quiz-form-2-radio1" type="radio" name="q2" value="a"><span class="custom-checkbox"></span> A) Aumentar a quantidade de produção em um curto período.</label>
                <label for="quiz-form-2-radio2"><input id="quiz-form-2-radio2" type="radio" name="q2" value="b"><span class="custom-checkbox"></span> B)  Implementar uma hierarquia rígida de tarefas.</label>
                <label for="quiz-form-2-radio3"><input id="quiz-form-2-radio3" type="radio" name="q2" value="c"><span class="custom-checkbox"></span> C) Limitar o trabalho em progresso para melhorar a eficiência.</label>
                <label for="quiz-form-2-radio4"><input id="quiz-form-2-radio4" type="radio" name="q2" value="d"><span class="custom-checkbox"></span> D) Criar um ambiente de trabalho silencioso e isolado.</label>
            </div>
            <button type="submit" class="btn">Responder</button>
            <br>
        </form>
    </section>

    <section class="container quiz-section">
        <form id="quiz-form-3" class="quiz-form">
            <div class="question">
                <img class="quizphotos" src="static/img/600400.png">

                <p>3) Qual das alternativas abaixo descreve melhor o conceito de Poka-yoke?</p>

                <label for="quiz-form-3-radio1"><input id="quiz-form-3-radio1" type="radio" name="q3" value="a"><span class="custom-checkbox"></span> A) Um sistema de gerenciamento de projetos que prioriza a comunicação.</label>
                <label for="quiz-form-3-radio2"><input id="quiz-form-3-radio2" type="radio" name="q3" value="b"><span class="custom-checkbox"></span> B) Uma técnica para eliminar a possibilidade de erros humanos.</label>
                <label for="quiz-form-3-radio3"><input id="quiz-form-3-radio3" type="radio" name="q3" value="c"><span class="custom-checkbox"></span> C) Um método para criar layouts de fábrica eficientes.</label>
                <label for="quiz-form-3-radio4"><input id="quiz-form-3-radio4" type="radio" name="q3" value="d"><span class="custom-checkbox"></span> D) Uma estratégia para maximizar a produção em linha.</label>
            </div>
            <button type="submit" class="btn">Responder</button>
            <br>
        </form>
    </section>

    <section class="container quiz-section">
        <form id="quiz-form-4" class="quiz-form">
            <div class="question">
                <img class="quizphotos" src="static/img/600400.png">
                <p>4) Como a Gestão Visual contribui para o ambiente de trabalho?</p>
                <label for="quiz-form-4-radio1"><input id="quiz-form-4-radio1" type="radio" name="q4" value="a"><span class="custom-checkbox"></span> A) Facilita a compreensão das operações através de sinais visuais claros.</label>
                <label for="quiz-form-4-radio2"><input id="quiz-form-4-radio2" type="radio" name="q4" value="b"><span class="custom-checkbox"></span> B) Aumenta a complexidade dos processos para os trabalhadores.</label>
                <label for="quiz-form-4-radio3"><input id="quiz-form-4-radio3" type="radio" name="q4" value="c"><span class="custom-checkbox"></span> C) Incentiva a comunicação verbal e reuniões frequentes.</label>
                <label for="quiz-form-4-radio4"><input id="quiz-form-4-radio4" type="radio" name="q4" value="d"><span class="custom-checkbox"></span> D) Descentraliza a tomada de decisões nas equipes.</label>
            </div>
            <button type="submit" class="btn">Responder</button>
            <br>
        </form>
    </section>
        
    <section class="container quiz-section">
        <form id="quiz-form-5" class="quiz-form">
            <div class="question">
                <img class="quizphotos" src="static/img/600400.png">
                <p>5) O que caracteriza um local de trabalho autoexplicativo?</p>
                <label for="quiz-form-5-radio1"><input id="quiz-form-5-radio1" type="radio" name="q5" value="a"><span class="custom-checkbox"></span> A) Um ambiente onde todos os detalhes precisam ser explicados verbalmente.</label>
                <label for="quiz-form-5-radio2"><input id="quiz-form-5-radio2" type="radio" name="q5" value="b"><span class="custom-checkbox"></span> B) Um local de trabalho onde as instruções são escritas em documentos extensos.</label>
                <label for="quiz-form-5-radio3"><input id="quiz-form-5-radio3" type="radio" name="q5" value="c"><span class="custom-checkbox"></span> C) Uma área de produção onde apenas os especialistas conseguem operar.</label>
                <label for="quiz-form-5-radio4"><input id="quiz-form-5-radio4" type="radio" name="q5" value="d"><span class="custom-checkbox"></span> D) Um espaço organizado onde qualquer pessoa pode entender rapidamente o funcionamento do local.</label>
            </div>
            <button type="submit" class="btn">Responder</button>
            <br>
        </form>
    </section>

    <script src="static/js/barra_menu.js"></script>
    <script src="static/js/functions.js"></script>
    <script src="static/js/flash.js"></script>
</body>
</html>
