<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profissionais Envolvidos</title>
    <link rel="stylesheet" href="static/css/sobre.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/swiper/8.4.5/swiper-bundle.min.css">
</head>

<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <a href="/"><img src="static/img/rojo.png" alt="Logo DASS"></a>
            </div>
            <div class="nav-list">
                <nav>
                    <ul>
                        <li class="menu"><a href="#" class="nav-link">Início</a></li>
                        <li class="menu"><a href="#" class="nav-link">Projetos</a></li>
                        <li class="submenu"><a href="#">Temas</a>
                            <ul>
                                <li><a href="/gestao">Gestão Visual</a></li>
                                <li><a href="/poka">Poka Yoke</a></li>
                                <li><a href="/kanban">Kanban</a></li>
                                <li><a href="/local">Local Autoexplicativo</a></li>
                            </ul>
                        </li>
                        <li class="menu"><a href="#" class="nav-link"> Sobre</a></li>
                    </ul>
                </nav>
            </div>

            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="static/img/menu_black.png" alt=""></button>
            </div>
        </nav>

            <div class="mobile-menu">
                <ul>
                    <li class="nav-item"><a href="#" class="nav-link">Início</a></li>
                    <li class="nav-item"><a href="#" class="nav-link">Projetos</a></li>
                    <!-- Lista de Temas com sublista ocultável -->
                    <li class="nav-item">
                        <a href="#" class="nav-link" onclick="toggleSubMenu(event)">Temas</a>
                        <ul class="sub-menu">
                            <li><a href="/gestao">Gestão Visual</a></li>
                            <li><a href="/poka">Poka Yoke</a></li>
                            <li><a href="/kanban">Kanban</a></li>
                            <li><a href="/local">Local Autoexplicativo</a></li>
                        </ul>
                    </li>
                    <li class="nav-item"><a href="#" class="nav-link">Sobre</a></li>
                </ul>
            </div>
    </header>
    
    <section class="container quiz-section">
        <h2 class="section-title-h2">Conheça Nossa Equipe</h2><br>

        <div class="div-blocos">
            <div class="div-bloco1" ></div>
            <div class="div-bloco2" ></div>
        </div>

        <h3 class="section-title">Responsáveis pela Criação do Site</h3>
        <div class="about">
            <div class="about-content">
                <img src="static/img/olharde1000.png" alt="Profissional 1">
                <div>
                    <h3>Biel </h3>
                    <p>João é um especialista em desenvolvimento front-end com mais de 10 anos de experiência. Ele é responsável pela criação de interfaces de usuário modernas e responsivas.</p>
                </div>
            </div>
        </div>

        <div class="about">
            <div class="about-content">
                <img src="https://i.pinimg.com/564x/40/64/15/40641574f1fc6ebb0013766a44953c83.jpg" alt="Profissional 2">
                <div>
                    <h3>Ramon da</h3>
                    <p>Maria é uma experiente desenvolvedora back-end. Ela trabalha na construção e manutenção da lógica de servidores e bancos de dados, garantindo que tudo funcione sem problemas.</p>
                </div>
            </div>
        </div>

        <div class="about">
            <div class="about-content">
                <img src="https://i.pinimg.com/564x/28/1a/af/281aaf73c5b37d8be3b0ed20caade1c9.jpg" alt="Profissional 3">
                <div>
                    <h3>Kevin</h3>
                    <p>Pedro é um especialista em UX/UI, focado em otimizar a experiência do usuário. Ele garante que os aplicativos sejam intuitivos e fáceis de usar.</p>
                </div>
            </div>
        </div>
        <br>

        <div class="div-blocos">
            <div class="div-bloco1" ></div>
            <div class="div-bloco2" ></div>
        </div>

        <h3 class="section-title">Responsáveis pela Criação do Conteúdo</h3>
        <div class="about">
            <div class="about-content">
                <img src="https://i.pinimg.com/564x/59/f7/fd/59f7fd15f3ed0b201320425eac0deb05.jpg" alt="Profissional 4">
                <div>
                    <h3>Sra. Thay</h3>
                    <p>Ana é uma gerente de projeto com vasta experiência em coordenação de equipes e planejamento de projetos. Ela mantém tudo nos trilhos e garante o sucesso do projeto.</p>
                </div>
            </div>
        </div>

        <div class="about">
            <div class="about-content">
                <img src="https://i.pinimg.com/736x/9b/a8/dc/9ba8dc20234f5b385411864d61d978cc.jpg" alt="Profissional 5">
                <div>
                    <h3>Sra. Kayla</h3>
                    <p>Lucas é um analista de qualidade que realiza testes rigorosos para garantir que o produto final atenda aos padrões de qualidade e seja livre de bugs.</p>
                </div>
            </div>
        </div>
    </section>

    <script src="static/js/barra_menu.js"></script>
</body>
</html>